.otp_container {
    display: flex; 
    gap: 5px; justify-content: center;
    margin-bottom: 10px;
}

.otp_input {
    height: 30px; 
    width: 30px; 
    text-align: center; 
    outline: none; 
    border-radius: 4px;
}